/* Hindi/English welcome heading */
.welcome-text {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Sans Devanagari", sans-serif;
    margin-top: 20px;
    border-radius: 10px;
    background-image: url("https://raw.githubusercontent.com/PrajapatiPramodPandit/infite-yearly-calendar/refs/heads/main/asserts/calendar-calculation-header-vibrant-blue%20-%202688x500.png");
    background-size: cover;
    margin-bottom: 30px;
}

.st-key-red_button button,
[data-testid="st-key-red_button"] button {
    display: block !important;
    align-self: center !important;
    background: #8E1EA2 !important;
    background-color: #8E1EA2 !important;
    border-color: #8E1EA2 !important;
    width: 200px !important;
    color: rgb(255, 218, 218) !important;
}
.d1 {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: "Noto Sans Devanagari", sans-serif;
    padding-top: 10px;
    margin-top: 20px;
    background-color: #BC0202;
    border-radius: 10px;
    margin-bottom: 30px;
}
.d2{
    font-family: "Noto Sans Devanagari", sans-serif;
    text-align: center;
    background-color: #BC0202;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 30px;
}