/* Hindi/English welcome heading */
.welcome-text {
    text-align: center;
    color: #008000;
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Sans Devanagari", sans-serif;
    margin-top: 20px;
    background-image: url("https://raw.githubusercontent.com/PrajapatiPramodPandit/face-and-mask-detection-web-app/refs/heads/main/header_image.webp?token=GHSAT0AAAAAAEKPHC3XEV3T4ILBBE7H6M4U2V6DSPQ");
    margin-bottom: 30px;
}